spring.profiles:
  active: mysql
#  active: h2
logging:
  level:
    root: INFO
server:
  port: 8080
---
spring:
  profiles: mysql
  datasource:
    url: jdbc:mysql://HOST:PORT/DATABASE
	# sometimes it is required to append to url following parameters:
	# ?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

---
spring:
  profiles: h2
  h2:
    console:
      path: /h2
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
